/* ==========================================================================
   Jet2
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
* {
  font-family: 'Open Sans', sans-serif;
  color: #203240; }

*:focus {
  outline: 0;
  outline-style: none; }

body {
  background: #636F79; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

.btn {
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 4px;
  font-weight: 700; }
  .btn.btn--outline {
    border: 1px solid #203240;
    background: transparent;
    color: #203240; }
    .btn.btn--outline:hover {
      background: #F2F2F2; }
  .btn.btn--block {
    border: 1px solid #203240;
    background: #203240;
    color: #fff; }
    .btn.btn--block:hover {
      background: #0f171e; }
  .btn:hover {
    cursor: pointer; }

.modal-triggers-wrapper {
  padding: 30px; }
  .modal-triggers-wrapper .btn {
    background: #fff;
    margin-bottom: 5px; }

.body-overlay {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none; }
  .body-overlay.is--black {
    display: block; }

.popup-modal {
  height: auto;
  width: calc(100% - 30px);
  max-width: 650px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 100ms ease-in-out;
  z-index: 9; }
  .popup-modal.is--visible {
    opacity: 1;
    pointer-events: auto; }
  .popup-modal .modal__body {
    display: block;
    padding: 40px 30px 15px; }
    .popup-modal .modal__body i.fa-check {
      color: #fff;
      background: #428D0F;
      border-radius: 99rem;
      padding: 10px;
      display: block;
      float: left;
      margin-right: 15px; }
    .popup-modal .modal__body h3 {
      display: table;
      margin: 0; }
  .popup-modal .modal__footer {
    display: block;
    border-top: 1px solid #ddd;
    padding: 30px 15px; }
    .popup-modal .modal__footer .buttons {
      display: block;
      width: 100%;
      text-align: center; }
      .popup-modal .modal__footer .buttons .btn {
        width: auto;
        display: block;
        font-style: italic; }
        .popup-modal .modal__footer .buttons .btn:first-of-type {
          margin-bottom: 5px; }
        @media (min-width: 576px) {
          .popup-modal .modal__footer .buttons .btn {
            width: auto;
            display: inline;
            margin-bottom: 0; } }
