/* ==========================================================================
   Jet2
   ========================================================================== */


// Fonts   

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


// Mixins

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px);


@mixin respond-above($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);
        @media (min-width: $breakpoint-value) {
            @content;
        }
    }
    @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}


// Variables

$light-grey: #F2F2F2;
$dark-grey: #636F79;
$dark: #203240;


// Main styles

* {
    font-family: 'Open Sans', sans-serif;
    color: $dark;
}

*:focus {
    outline: 0;
    outline-style: none;
}

body {
    background: $dark-grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.btn {
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 4px;
    font-weight: 700;

    &.btn--outline {
        border: 1px solid $dark;
        background: transparent;
        color: $dark;

        &:hover {
            background: $light-grey;
        }
    }

    &.btn--block {
        border: 1px solid $dark;
        background: $dark;
        color: #fff;

        &:hover {
            background: darken($dark, 10%)
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.modal-triggers-wrapper {
    padding: 30px;

    .btn {
        background: #fff;
        margin-bottom: 5px;
    }
}

.body-overlay {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: none;

    &.is--black {
        display: block;
    }
}

.popup-modal {
    height: auto;
    width: calc(100% - 30px);
    max-width: 650px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 100ms ease-in-out;
    z-index: 9;

    &.is--visible {
        opacity: 1;
        pointer-events: auto;
    }

    .modal__body {
        display: block;
        padding: 40px 30px 15px;

        i.fa-check {
            color: #fff;
            background: #428D0F;
            border-radius: 99rem;
            padding: 10px;
            display: block;
            float: left;
            margin-right: 15px;
        }

        h3 {
            display: table;
            margin: 0;
        }
    }

    .modal__footer {
        display: block;
        border-top: 1px solid #ddd;
        padding: 30px 15px;

        .buttons {
            display: block;
            width: 100%;
            text-align: center;

            .btn {
                width: auto;
                display: block;
                font-style: italic;

                &:first-of-type {
                    margin-bottom: 5px;
                }

                @include respond-above(xs) {
                    width: auto;
                    display: inline;
                    margin-bottom: 0;
                }
            }
        }

    }
}